.span_u, .space_r{
	color:white;
}

.span_s, .span_e{
	color: lightgreen;
}

.first-slide, .second-slide, .third-slide {
	opacity: 0.6;
}

@media only screen and(max-width: 500px){
	.myCarousel{
		height: 200px;
	}
}