<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Day Login Form</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- <script src='jquery.crypt.js'></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"> </script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- +++++++++++++++++++++++++++++++++++++ -->
 <script type="text/javascript">
var app = angular.module('myApp', []);
app.controller('mainCtrl', function ($scope, $http) {
 // $scope.mobileNumbr = /^\d{2}?\d{10}$/;
$scope.login = function (mob) {
	console.log("response",mob);
	var hash = CryptoJS.MD5(mob+"offlinetrend").toString()
	 console.log(typeof(mob))
		
		var data = {	
			mob: " "+mob,
			app_key:hash ,
		};
console.log(hash, mob)		
console.log('ddddd',data);
//Call the services
 fetch("http://192.168.1.100:8080/v1/login/",{method: "POST", headers: {"Content-Type": "application/x-www-form-urlencoded", "Accept": "application/json"} ,body:  JSON.stringify(data) })
 .then((response)=>response.json())
 .then((response) =>  {
         if (response.status==200){
          alert("Hi "+response.fullname+"!")
          // window.location.href = "profile.html"
          console.log(response)

 }else {
          // window.location.href = "error.html"
          alert("Invalid credentials")
          console.log(response)
          return false
      }
})
    .catch((error) => {
      alert("Error while OTP Request")
      return false
    })
    
    // console.log(v)
}
});
</script>
<!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
<style>
  .form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
    .error {
      color: red;
    }
  </style>
  
</head>

<body>
<div ng-app="myApp" ng-controller="mainCtrl">
 <div class="container">
     <div class="col-sm-6 col-md-6 col-xs-12">
     	<form name="myForm" ng-controller="mainCtrl" class="w3-container w3-card-1 w3-light-grey w3-text-blue w3-margin">

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" ng-model="mob" name='mob' type="text" placeholder="Enter OTP:643123" ng-pattern="mobileNumbr" />
      <span class="error" ng-show="myForm.mobile.$error.required">Required!</span>
      <span class="error" ng-show="myForm.mobile.$error.minlength">Mobile no not less that 10 char.</span>
      <span class="error" ng-show="myForm.mobile.$error.maxlength">Mobile no not more than 11 char.</span>
      <br><span class="error" ng-show="myForm.mobile.$error.pattern">Please match pattern [ 917996917565]</span>
    </div>
</div>
<button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding" ng-click="login(mob)">Login</button>

  </form>
     </div>
 	 
 </div>



</div>
  
</body>
</html>
