<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>angularjs mobile number validation</title>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <style>
  .form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
    .error {
      color: red;
    }
  </style>
  <script>
    var app = angular.module('myApp', []);

    app.controller('mainCtrl', function($scope) {
      $scope.mobileNumbr = /^\+?\d{2}?\d{10}$/;
    });
  </script>
</head>

<body ng-app="myApp">
<!-- <form  class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin"> -->
 <div class="container">
     <div class="col-sm-6 col-md-6 col-xs-12">
     	<form name="myForm" ng-controller="mainCtrl" class="w3-container w3-card-1 w3-light-grey w3-text-blue w3-margin">
   <!--  <div>Mobile No. :</div>
    <div>
      <input type="text" placeholder="+917996917565" name="mobile" ng-pattern="mobileNumbr" ng-model="mobile" />
      <span class="error" ng-show="myForm.mobile.$error.required">Required!</span>
      <span class="error" ng-show="myForm.mobile.$error.minlength">Mobile no not less that 10 char.</span>
      <span class="error" ng-show="myForm.mobile.$error.maxlength">Mobile no not more than 11 char.</span>
      <br><span class="error" ng-show="myForm.mobile.$error.pattern">Please match pattern [+917996917565 || 917996917565]</span>
    </div> -->
  <!-- </ng-form> -->

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="mobile" type="text" placeholder="+917996917565" ng-pattern="mobileNumbr" ng-model="mobile" />
      <span class="error" ng-show="myForm.mobile.$error.required">Required!</span>
      <span class="error" ng-show="myForm.mobile.$error.minlength">Mobile no not less that 10 char.</span>
      <span class="error" ng-show="myForm.mobile.$error.maxlength">Mobile no not more than 11 char.</span>
      <br><span class="error" ng-show="myForm.mobile.$error.pattern">Please match pattern [+917996917565 || 917996917565]</span>
    </div>
</div>
<button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Send</button>

  </form>
     </div>
 	 
 </div>
  <!-- <input type="submit"> -->
  <!--<div>-->
  <!--  <a href="http://www.code-sample.com/" traget="_blank">Go for more detail...</a>-->
  <!--</div>-->
</body>

</html>