<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Day Login Form</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <!-- <script src='jquery.crypt.js'></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"> </script>
      <link rel="stylesheet" href="css/css/main.css">
      <link rel="stylesheet" href="css/css/style.css">
      <link rel="stylesheet" type="text/css" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/font-awesome-4.7.0/css/font-awesome.css">



<!-- +++++++++++++++++++++++++++++++++++++ -->
 <script type="text/javascript">
var app = angular.module('postserviceApp', []);
app.controller('postserviceCtrl', function ($scope, $http) {

$scope.login = function (mob) {
	console.log("response",mob);
	var hash = CryptoJS.MD5(mob.slice(2)+"offlinetrend").toString()
	 console.log(typeof(mob))
		
		var data = {	
			mob: " "+mob,
			app_key:hash ,
		};
console.log(hash, mob)		
console.log('ddddd',data);
//Call the services
 fetch("http://192.168.1.100:8080/v1/login/",{method: "POST", headers: {"Content-Type": "application/x-www-form-urlencoded", "Accept": "application/json"} ,body:  JSON.stringify(data) })
 .then((response)=>response.json())
 .then((response) =>  {
         if (response.status==200){
          alert("Hi "+response.fullname+"!")
          window.location.href = "profile.html"
          console.log(response)

 }else {
          // window.location.href = "error.html"
          alert("Invalid credentials")
          console.log(response)
          return false
      }
})
    .catch((error) => {
      alert("Error while OTP Request")
      return false
    })
    
    // console.log(v)
}
});
</script>
<!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
  
</head>

<body>
<div ng-app="postserviceApp" ng-controller="postserviceCtrl">
  <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
	
		<div class="login-form">
		
			<div class="sign-in-htm">
			<form ng-submit="sendForm()">
				<div class="group">
					<label for="user" class="label">Mobile no.</label>
					<input id="user" type="text" ng-model="mob" name='mob' class="input">
				</div>
				<!-- <div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" ng-model="password" name="password"  class="input" data-type="password">
				</div> -->
				
		
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" ng-click="login(mob)" class="button" value="Sign In">
				</div>
				</form>
 		 		
			</div>

			<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
		</div>
	</div>
 </div>
</div>
  
</body>
</html>
