
div.social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;
}
div.social a {
  display: inline-block;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  text-align: center;
  text-decoration: none;
  outline: none;
}
div.social a:before {
  display: inline-block;
  padding: 0;
  font-family: 'entypo', sans-serif;
  font-size: 2em;
  color: #444;
  line-height: 50px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
div.social a:hover:before,
div.social a:focus:before {
  color: #FFF;
  -webkit-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
  -moz-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
  -ms-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
  -o-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
  transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
}
div.social a:active:before {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
div.social a.facebook:before {
  content: "\f30c";
}
div.social a.facebook:hover:before,
div.social a.facebook:focus:before {
  text-shadow: 0 1px #1e2e4f;
  background-color: #3b5998;
  -webkit-box-shadow: 0 0 0 4px rgba(59, 89, 152, 0.6);
  -moz-box-shadow: 0 0 0 4px rgba(59, 89, 152, 0.6);
  box-shadow: 0 0 0 4px rgba(59, 89, 152, 0.6);
}
div.social a.facebook:active:before {
  -webkit-box-shadow: 0 0 0 4px rgba(59, 89, 152, 0.6), 0 0 0 4px #333, 0 1px 0 4px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 0 0 4px rgba(59, 89, 152, 0.6), 0 0 0 4px #333, 0 1px 0 4px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 4px rgba(59, 89, 152, 0.6), 0 0 0 4px #333, 0 1px 0 4px rgba(255, 255, 255, 0.6);
}
div.social a.twitter:before {
  content: "\f309";
}
div.social a.twitter:hover:before,
div.social a.twitter:focus:before {
  text-shadow: 0 1px #1385cc;
  background-color: #56b4ef;
  -webkit-box-shadow: 0 0 0 4px rgba(86, 180, 239, 0.6);
  -moz-box-shadow: 0 0 0 4px rgba(86, 180, 239, 0.6);
  box-shadow: 0 0 0 4px rgba(39, 159, 235, 0.6);
}
div.social a.twitter:active:before {
  -webkit-box-shadow: 0 0 0 4px rgba(86, 180, 239, 0.6), 0 0 0 4px #333, 0 1px 0 4px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 0 0 4px rgba(86, 180, 239, 0.6), 0 0 0 4px #333, 0 1px 0 4px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 4px rgba(86, 180, 239, 0.6), 0 0 0 4px #333, 0 1px 0 4px rgba(255, 255, 255, 0.6);
}
div.social a.googleplus:before {
  content: "\f30f";
}
div.social a.googleplus:hover:before,
div.social a.googleplus:focus:before {
  text-shadow: 0 1px #96271a;
  background-color: #dd4b39;
  -webkit-box-shadow: 0 0 0 4px rgba(221, 75, 57, 0.6);
  -moz-box-shadow: 0 0 0 4px rgba(221, 75, 57, 0.6);
  box-shadow: 0 0 0 4px rgba(221, 75, 57, 0.6);
}
div.social a.googleplus:active:before {
  -webkit-box-shadow: 0 0 0 4px rgba(221, 75, 57, 0.6), 0 0 0 4px #333, 0 1px 0 4px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 0 0 4px rgba(221, 75, 57, 0.6), 0 0 0 4px #333, 0 1px 0 4px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 4px rgba(221, 75, 57, 0.6), 0 0 0 4px #333, 0 1px 0 4px rgba(255, 255, 255, 0.6);
}
div.hrs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 40px 0;
  color: #555;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
div.hrs div {
  font-family: 'Courgette', cursive;
  font-size: 1.2em;
  color: silver;
}
div.hrs div:first-child,
div.hrs div:last-child {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  position: relative;
}
div.hrs div:first-child:before,
div.hrs div:last-child:before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: #5F5F5F;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
div.hrs div:first-child {
  margin-right: 20px;
}
div.hrs div:last-child {
  margin-left: 20px;
}
/*.resp-info:before {
  content: 'full';
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #F00;
}
*/